option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-west-2:847705844112:certificate/a4b6d866-ca7c-4ba7-b50c-5f3f60f27e91
    Protocol: HTTPS
Resources:
    AWSEBV2LoadBalancerListener:
      Type: 'AWS::ElasticLoadBalancingV2::Listener'
      Properties:
        LoadBalancerArn: { "Ref" : "AWSEBV2LoadBalancer" }
        DefaultActions:
          - RedirectConfig:
              Port: 443
              Protocol: HTTPS
              StatusCode: HTTP_301
            Type: redirect
        Port: 80
        Protocol: HTTP
