<!doctype html>
<html lang="en">
  <head>

    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS File -->
    <!-- <link rel="stylesheet" href="base.css"> -->
    <link rel="stylesheet" href= {% static "base/base.css" %}>

    <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6104873.js"></script> -->
    <!-- End of HubSpot Embed Code -->

    <title>Westside Christian</title>
  </head>
  <body class="{{ body_class }}">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.wcsredlands.org">
          <img class="tagline-img" src="{% static 'base/img/tagline.svg' %}"></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link {{ nav_status.preschool }}" href="https://www.wcsredlands.org/preschool">PRESCHOOL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ nav_status.elementary }}" href="https://www.wcsredlands.org/elementary">ELEMENTARY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ nav_status.church }}" href="https://www.wcsredlands.org/church">CHURCH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ nav_status.pricing }}" href="https://www.wcsredlands.org/pricing">PRICING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ nav_status.contact }}" href="https://www.wcsredlands.org/contact">CONTACT US</a>
            </li>
          </ul>
        </div>
    </nav>
    </header>
    <section>
      {% block content %}

      {% endblock %}
    <section>
      <footer>
    <div class="container-fluid footer">
      <br>
      <p>© Copyright by Westside Christian School</p>
      <p>Contact Us</p>
      <p>School Tel: (909) 793-5811</p>
      <p>Church Tel: (909) 793-3253</p>
      <p>Email: westsidechristianredlands@gmail.com</p>
      <p>Address</p>
      <p>1495 W Olive Avenue</p>
      <p>Redlands, Ca 92373</p>
      <br>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
