{% extends 'base/base.html' %}

{% block content%}

{% load static %}

<div class="container-fluid text-center post-head">
  <h1>COME WORSHIP WITH US</h1>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br>
      <h1>Sunday Service with Asst. Minister Tyler Wick</h1>
      <p>10:40 am</p>
    </div>
    <div class="col-md-4">
      <img src="{% static 'base/img/wicks.png' %}"></img>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-4">
      <img style="float:left" src="{% static 'base/img/parkers.png' %}"></img>
    </div>
    <div class="col-md-8">
      <br>
      <h1>Bible Study with Minister Richard Parker</h1>
      <p>9:30 am</p>
    </div>
  </div>

</div>

<br>
<br>



{% endblock %}
