{% extends 'base/base.html' %}

{% block content%}

{% load static %}

<div class="jumbotron jumbotron-fluid elementary_hero">
  <div class="hero-text">
    <h1 class="display-4">Discover our Elementary School</h1>
    <button href="https://meetings.hubspot.com/jmhrovat" class="btn btn-primary hero-btn">BOOK A VISIT</button>
  </div>
</div>

<div class="container-fluid text-center verse-section">
  <p class="verse-text">"Each of you should use whatever gift you have received to serve others, as faithful stewards of God's grace in its various forms."</p>
  <p class="verse-ref">1 Peter 4:10</p>
</div>

<div class="container-fluid text-center">
  <div style="background-color: #f5f8fa" class="container">
    <br>
    <h1>OUR ELEMENTARY SCHOOL</h1>
    <p>Westside Christian School prides itself by providing its students with
      a Wholesome, Christian curriculum that reflects the design of our Lord.
      By utilizing the Abeka Curriculum, we are not only setting our students
      up academically, but we are setting their lifelong path and walk with
      our Lord.  </p>
    </div>
</div>
<br>

<div class="container-fluid text-center values-section">
  <h1>WHAT WE OFFER</h1>
</div>

<br>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="card lead-card">
      <div class="card-body">
        <h1 class="card-title">Our Academics</h1>
        <p class="card-text">Westside Christian School prides itself by
          providing its students with a Wholesome, Christian curriculum
          that reflects the design of our Lord. By utilizing the Abeka
          Curriculum, we are not only setting our students up academically,
           but we are setting their lifelong path and walk with our Lord.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card feature-card">
      <div class="card-body">
        <h1 class="card-title">Literacy and Writing</h1>
        <p class="card-text"> The Abeka curriculum provides children with age appropriate Language, Literacy, and writing skills that reflects a Christian appropriate design.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card feature-card">
      <div class="card-body">
        <h1 class="card-title">Penmanship</h1>
        <p class="card-text"> The Abeka curriculum provides children with Penmanship skills that exceed standard and cursive writing expectations.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card feature-card">
      <div class="card-body">
        <h1 class="card-title">Mathematics</h1>
        <p class="card-text"> The Abeka curriculum provides children with age appropriate mathematical skills that reflects a Christian appropriate design.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card feature-card">
      <div class="card-body">
        <h1 class="card-title">Science</h1>
        <p class="card-text"> The Abeka curriculum provides children with an age appropriate  understanding of how the Lord designed the world from a scientific standpoint.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card feature-card">
      <div class="card-body">
        <h1 class="card-title">History and Geography</h1>
        <p class="card-text"> The Abeka curriculum provides children with an age appropriate understanding of how the Lord has guided us in the divine creation of the world.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card feature-card">
      <div class="card-body">
        <h1 class="card-title">Physical Education</h1>
        <p class="card-text"> Our Physical Education Program guides students to achieve their physical goals, as well as their team-building skills that reflects a Christian attitude and advancement abilities.
        </p>
      </div>
    </div>
  </div>
</div>

</div>

<br>

<div class="container-fluid text-center cta-section">
  <h1>Interested in Westside?</h1>
  <p>Visit our beautiful campus to learn more about our values, ministry,
    and family. We can’t wait to meet you.</p>
  <button class="btn btn-ghost">BOOK A VISIT</button>
  <br>
  <br>
</div>

{% endblock %}
