{% extends 'base/base.html' %}

{% block content%}

{% load static %}

<div class="jumbotron jumbotron-fluid home_hero">
  <div class="hero-text">
    <h1 class="display-4">Christ centered early education</h1>
    <button href="https://meetings.hubspot.com/jmhrovat" class="btn btn-primary hero-btn">BOOK A VISIT</button>
  </div>
</div>

<div class="container-fluid text-center verse-section">
  <p class="verse-text">"We have this hope as an anchor of the soul, firm and secure"</p>
  <p class="verse-ref">Hebrews 6:19</p>
</div>

<div class="container text-center mission-section">
  <h1>OUR MISSION</h1>
  <p>The purpose of Westside Christian School is threefold.  First, our primary goal is to be evangelical. Our enrollment is open to nonbelievers with the hope of introducing boys and girls or even moms and dads to Jesus Christ. Second, we desire to equip the saints by giving them a Christian view of God and the world based on the authoritative and inerrant Word of God.  Third, we desire an outstanding education for students Pre-K through sixth grade!</p>
</div>

<div class="container-fluid text-center values-section">
  <h1 >Rigourous. Personal. Godly.</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div style="padding:0" class="col-md-6">
      <div class="img-nav-text">
        <a href="https://www.wcsredlands.org/preschool" class="img-nav-prek"></a>
        <h1><a ref=https://www.wcsredlands.org/preschool>Preschool</a></h1>
      </div>
    </div>

    <div style="padding:0" class="col-md-6">
      <div class="img-nav-text">
        <a href="https://www.wcsredlands.org/elementary" class="img-nav-elementary"></a>
        <h1><a href="https://www.wcsredlands.org/elementary">Elementary</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center values-section">
  <h1>Get Started</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 step-section">
      <h1>Step 1.</h1>
      <p>Schedule a preliminary visit at your convenience. Our staff is
        eager to meet you and introduce you to our campus.</p>
      <button class="btn btn-secondary">BOOK A VISIT</button>
    </div>
    <div class="col-md-4 step-section">
      <h1>Step 2.</h1>
      <p>Complete and return our standard enrollment packet.</p>
    </div>
    <div class="col-md-4 step-section">
      <h1>Step 3.</h1>
      <p>Begin preparing your child for the new school year.</p>
    </div>
  </div>
</div>


<div class="container principal-section">
  <div class="row">
    <div class="col-md-6">
      <h1> Principal's Welcome</h1>
      <p> God has blessed Westside Christian School with a beautiful
        campus to share each day with these precious children…Kindergarten -6th
        grade are such important years for building a strong foundation in the
        lives of your children…both academically and spiritually…there is no better
        place to do that than right here at Westside Christian School…this is an environment
        based on the love of Jesus and centered around His Word and teachings. Come and be
        apart of our Westside family!
      </p>
      <p class="section-role">Principal Kelli Knowles</p>
    </div>
    <div class="col-md-6">
      <img class="principal-img" src="{% static 'base/img/principal.png' %}"></img>
    </div>

  </div>
</div>

<div class="container-fluid cta-section">
  <h1>Interested in Westside?</h1>
  <p>Visit our beautiful campus to learn more about our values, ministry,
    and family. We can’t wait to meet you.</p>
  <button class="btn btn-ghost">BOOK A VISIT</button>
  <br>
  <br>
</div>



{% endblock %}
