<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="base.css">

    <title>Westside Christian</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Westside Christian</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">PRESCHOOL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ELEMENTARY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CHURCH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PRICING</a>
            </li>
            <li class="nav-item">
              <a style="color:white" class="nav-link btn btn-primary" href="#">DONATE</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid home_hero">
      <div class="container">
        <h1 class="display-4">Christ centered early education</h1>
        <button href="https://meetings.hubspot.com/jmhrovat" class="btn btn-primary">BOOK A VISIT</button>
      </div>
    </div>

    <div class="container-fluid text-center verse-section">
      <p>"We have this hope as an anchor of the soul, firm and secure"</p>
      <p>Hebrews 6:19</p>
    </div>

    <div class="container text-center mission-section">
      <h1>OUR MISSION</h1>
      <p>The purpose of Westside Christian School is threefold.  First, our primary goal is to be evangelical. Our enrollment is open to nonbelievers with the hope of introducing boys and girls or even moms and dads to Jesus Christ. Second, we desire to equip the saints by giving them a Christian view of God and the world based on the authoritative and inerrant Word of God.  Third, we desire an outstanding education for students Pre-K through sixth grade!</p>
    </div>

    <div class="container-fluid text-center values-section">
      <h1 >Rigourous. Personal. Godly.</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">



          <div class="img-nav-text">
            <div class="img-nav"></div>
              <h1>Preschool</h1>
          </div>



        </div>

        <div class="col-md-6">
          <h1>Elementary</h1>
        </div>


      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div style="background-color: grey" class="col-4">
          <h3>Step 1.</h3>
        </div>
        <div style="background-color: grey" class="col-4">
          <h3>Step 2.</h3>
        </div>
        <div style="background-color: grey" class="col-4">
          <h3>Step 3.</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1> Principal's Welcome</h1>
          <p> God has blessed Westside Christian School with a beautiful
            campus to share each day with these precious children…Kindergarten -6th
            grade are such important years for building a strong foundation in the
            lives of your children…both academically and spiritually…there is no better
            place to do that than right here at Westside Christian School…this is an environment
            based on the love of Jesus and centered around His Word and teachings. Come and be
            apart of our Westside family!
          </p>
          <p>Principal Kelli Knowles</p>
        </div>
        <div class="col-6">
          <div class="jumbotron jumbotron-fluid">
            <h1>Picture</h1>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid text-center">
      <h1>Interested in Westside?</h1>
      <p>Visit our beautiful campus to learn more about our values, ministry,
        and family. We can’t wait to meet you.</p>
      <button class="btn btn-primary">BOOK A VISIT</button>
      <br>
      <br>
    </div>

    <div style="background-color:darkgrey;color:white" class="container-fluid text-center">
      <br>
      <p>© Copyright by Westside Christian School</p>
      <p>Contact Us</p>
      <p>School Tel: (909) 793-5811</p>
      <p>Church Tel: (909) 793-3253</p>
      <p>Email: westsidechristianredlands@gmail.com</p>
      <p>Address</p>
      <p>1495 W Olive Avenue</p>
      <p>Redlands, Ca 92373</p>
      <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
