{% extends 'base/base.html' %}

{% block content%}

{% load static %}


<div class="container-fluid text-center post-head" style="background-color:#5B6FB0;color:white">
  <h1>AFFORDABLE TUITION FOR ALL NEEDS</h1>
</div>

<div class="container-fluid">
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="daycare-tab" data-toggle="tab" href="#daycare" role="tab" aria-controls="daycare" aria-selected="true">Daycare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="preschool-tab" data-toggle="tab" href="#preschool" role="tab" aria-controls="preschool" aria-selected="false">Preschool</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="elementary-tab" data-toggle="tab" href="#elementary" role="tab" aria-controls="elementary" aria-selected="false">Elementary</a>
        </li>
      </ul>
      <br>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="daycare" role="tabpanel" aria-labelledby="daycare-tab">
            <br>
            <div class="container">
              <div class=row>
                <div class="col-6">
                  <h1>2020-2021</h1>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-primary">BOOK A VISIT</button>
                </div>
            </div>
              <br>
              <div class="card feature-card">
                <div class="card-body">
                  <h1 class="card-title">Monday - Friday</h1>
                  <p>6:30 - 7:30 am & 3:15 - 6:00pm</p>
                  <p>$5 / hour - Maximum of $225 / month</p>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="tab-pane fade" id="preschool" role="tabpanel" aria-labelledby="preschool-tab">
            <br>
              <div class="container">
                <div class=row>
                  <div class="col-6">
                    <h1>2020-2021</h1>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-primary">BOOK A VISIT</button>
                  </div>
                </div>
                <br>
                <p>Annual Nonrefundable Fees</p>
                <p>*Registration Fee: $100.00</p>
                <p>Materials / Instructional Fee: $160.00</p>
                <div class="row">
                  <div class="col-6">
                    <div class="card feature-card">
                      <div class="card-body">
                        <h1 class="card-title">T / TH </h1>
                        <p>8am - 12pm (Halfday)</p>
                        <p>$220 / Month</p>
                        <br>
                        <p>Full day</p>
                        <p>$385 / Month</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card feature-card">
                      <div class="card-body">
                        <h1 class="card-title">M / W / F </h1>
                        <p>8am - 12pm (Halfday)</p>
                        <p>$310 / Month</p>
                        <br>
                        <p>Full day</p>
                        <p>$495 / Month</p>
                      </div>
                    </div>
                  </div>
                </div>
                <br>

                <div class="card feature-card">
                  <div class="card-body">
                    <h1 class="card-title">Monday - Friday</h1>
                    <p>8am - 12pm (Halfday)</p>
                    <p>$470 / Month</p>
                    <br>
                    <p>Full day</p>
                    <p>$690 / Month</p>
                  </div>
                </div>

                <br>

              </div>
          </div>
          <div class="tab-pane fade" id="elementary" role="tabpanel" aria-labelledby="elementary-tab">
            <br>
            <div class="container">
              <div class=row>
                <div class="col-6">
                  <h1>2020-2021</h1>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-primary">BOOK A VISIT</button>
                </div>
              </div>
              <br>
              <p>Annual Nonrefundable Fees</p>
              <p>*Registration Fee: $250.00</p>
              <p>*Registration Fee: $250.00</p>
              <p>*Abeka Book Fee: $250.00</p>
              <p>*New Student Testing Fee: $35.00</p>
              <p>*SAT National Testing Fee: $50.00</p>
              <br>
              <div style="height:auto"class="card feature-card">
                <div class="card-body">
                  <h1 class="card-title">Kindergarten</h1>
                  <h2>Payment Plans</h2>
                  <p>12 Month: $470.00 / Month</p>
                  <p>11 Month: $460.00 / Month</p>
                  <p>10 Month: $506.00 / Month </p>
                  <hr>
                  <h1 class="card-title">1st - 6th Grade</h1>
                  <h2>Payment Plans</h2>
                  <p>12 Month: $470.00 / Month</p>
                  <p>11 Month: $460.00 / Month</p>
                  <p>10 Month: $506.00 / Month</p>
                </div>
              </div>
              <br>
            </div>




          </div>
      </div>
    </div>

{% endblock %}
